<footer class="w-full bg-zinc-800 text-zinc-300 text-center py-5">
    <p class="text-sm sm:text-md font-semibold tracking-tight">
        © <%= new Date().getFullYear() %> Sannshot — A photo collection gallery by Sann.
    </p>
</footer>

</body>

</html>